@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: none;
  font-size: 18px;
}

.page-btn {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;

  font-family: "Figtree", sans-serif;

  /* background: #dee2e6; */
  color: #adb5bd;
  height: 30px;
  border-radius: 50%;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-btn:disabled {
  cursor: none;
}
.page-btn:not([class$="-page"]) {
  font-weight: 300;
  width: 30px;
}

.page-btn[class$="-page"] {
  /* background: #ced4da; */
  font-weight: 500;
  font-size: 0.6em;
  font-weight: bold;
}

.page-btn--active {
  font-weight: 600;
  background: #dee2e6;
  color: #495057;
}
.page-btn[disabled] {
  opacity: 0.3;
}
